#[link(name = "dolittle")];

#[comment = "Websocket pushmi-pullyu"];
#[license = "MIT"];
#[crate_type = "bin"];
#[link_args = "-L./lib -lhttp_parser"];

extern mod std;
pub mod http_parser;
pub mod dolittle;

pub mod http {
  pub mod headers;
  pub mod parser;
  pub mod request;
}

pub mod websockets {
  pub mod framing {
    pub mod composer;
    pub mod parser;
    pub mod types;
  }
  pub mod protocol;
}

fn main() {
  dolittle::run_main();
}

